body {
    text-align : center;
    font-family: Tahoma, Geneva, sans-serif;
}
canvas {
    display : block;
    padding : 1;
    border : none;
    background-color : black;
}

#container {
    position: relative;
    margin : auto;
    display: inline-block;
}

.overlay {
    z-index: 5;
    font-size: 150%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid gray;
    border-radius: 15%;
    padding: 4px 7.5px 5px 7.5px;
    margin: 2px;
    cursor: default;
}

#go-full {
    font-weight: 200%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0px 5px;
    cursor: pointer;
}

#go-full:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

#fps {
    position: absolute;
    top: 0;
    left: 0;
}
